body{
    width:100%;
    height: 100%;
    margin-left: 0;
}
#header{
    margin-top: -10px;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    
}
#content{
    background-color: indigo;
    height: 25vw;
    display: flex;
    justify-content: space-evenly;
    
}

.homeContainer{
    position: relative;
    text-align: center;
    color: white;
    width:max-content;
    height: max-content;
}

.homeText{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 4.2vw;
    -webkit-text-stroke: 1px red;
}
.patioContainer{
    position: relative;
    text-align: center;
    color: white;
    height: max-content;
}

.patioText{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 4.2vw;
    -webkit-text-stroke: 1px red;

}
.electronicsContainer{
    position: relative;
    text-align: center;
    color: white;
    height: max-content;
}

.electronicsText{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 4.2vw;
    -webkit-text-stroke: 1px red;

}

#content img{
    width: 30vw;
    height: 20vw;
    margin-top: 2vw;
}

#companyName{
    font-size: 5.2vw;
    margin-top: 0;
    margin-bottom: 0;
}

#slogan{
    font-size: 2.2vw;
    padding-top:2%;
    
}

#header a {
    font-size: 2vw;
    padding-top:2%;
}

#header img{
    height: 80px;
    width: 80px;
    
}
b{
    font-size: 2.2vw;
    padding-top:2%;
}

#extra{
    margin-top: 0;
    
}

#location{
    position:relative;
    width: 25%;
    height: 20vw;
    float:left;
    border-width: 4px;
    border-top-style: dashed;
    border-top-color: red;
    border-right-style:dashed;
    border-right-color: indigo;
    border-bottom-style: dashed;
    border-bottom-color: red;


}

#location::before{
    content: "";
    background-image: url("Flag.png" );
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

#location h2{
    font-size: 2.2vw;
    margin-top: 0;
    text-align: center;
}

#location li{
    font-size: 1.6vw;
    padding: 4px;
    -webkit-text-stroke: 0.9px indigo;
    
    justify-content: space-evenly;
}

#contact{
    width: 25%;
    height: 20.6vw;
    background-color: red;
    position: absolute;
    left: 25.3%;
}

#contact h2{
    font-size: 2.2vw;
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space;
}

#contact div{
    display: flex;
    flex-direction: column;
    
    margin-left: 1vw;
    margin-right: 1vw;
    
}

#contact label{
    font-size: 1.4vw;
    -webkit-text-stroke: 0.9px indigo;
}

#submit{
    margin-top: 0.5vw;
}

#slideshow{
    width: 50%;
    height: 20.6vw;
    background-color:indigo;
    position: absolute;
    left: 50%;
}

#slideshow img{
    width:100%;
    height: 20.5vw;
    
}

.slides{
   display:none; 
}

#transition{
    
    position:absolute;
    left:50%;
    top:90%;
}
.dot{
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    
    
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
.active{
    background-color: #717171;
}

@keyframes fade{
    from{opacity:0.4}
    to{opacity:1}
}
#footer{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -8px;
    
    
    
    
}
#footer p{
    font-size: 1.5vw;
    color:white;
    margin-top: 1vw;
    
}
