body{
    width:100%;
    height: 100%;
    margin-left: 0;
}
#header{
    margin-top: -10px;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    
}
#companyName{
    font-size: 5.2vw;
    margin-top: 0;
    margin-bottom: 0;
}

#slogan{
    font-size: 2.2vw;
    padding-top:2%;
    
}

#header a {
    font-size: 2vw;
    padding-top:2%;
}

#header img{
    height: 80px;
    width: 80px;
    
}
b{
    font-size: 2.2vw;
    padding-top:2%;
}

#content{
    background-color: coral;
    width: 100%;
    height :20vs;
    display:flex;
}

#content button{
    font-size: 1.5vw;
}

#content label{
    font-size:1.5vw;
}

.items img{
    width:17vw;
    height: 17vw;
    border-style: solid;
}
.items{
    
    flex-basis: 33.3333333%;
    padding-bottom: 2vw;
    padding-top: 2vw;
}



.nameItem{
    
    font-size: 2vw;
    padding-right: 8vw;
}

#products{
    position:relative;
    float:left;
    background-color: aqua;
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex:1;
}
#list{
    background-color: indigo;
    height: inherit;
    width:25%;
     
}



#footer{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -8px;
}

#footer p{
    font-size: 1.5vw;
    color:white;
    margin-top: 1vw; 
}

#list h2{
    font-size: 3vw;
    color:white;
    margin-top: 1vw;
    text-decoration: underline;
    margin-top: 0;
    text-align: center;
    
}

#list button{
    width:100%;
    
}

.listItems{
    font-size: 2vw;
    color: white;
}
#manageList{
    position: sticky;
    top:0;
}
/* 
#manageList{
    position:fixed;
    left: 78%;
}
 */